@charset "utf-8";
@charset "utf-8";
/*banner*/
.banner{width:100%;height:420px;background:url(../images/loading.gif) center center no-repeat #e8f2f6;border-top:1px solid #fff;}
.slider{width:100%;height:420px;position:relative;z-index:0;*z-index:-1;}
.slider li{float:left;width:100%;}
.slider li a{display:block;width:100%;height:420px;background-position:50% 50%;background-repeat:no-repeat;position:absolute;top:0;left:0;z-index:11;}
.sliderNumber{position:absolute;bottom:15px;left:48%;}
.sliderNumber a{display:block;float:left;width:10px;height:10px;border-radius:50%;background:#fff;margin-right:10px;opacity:0.9;box-shadow:0 0 5px rgba(0,0,0,0.3);}
.sliderNumber a.active{background:#e60012;box-shadow:0 0 0 2px rgba(255,255,255,0.8);}


/*行情部分*/
.news .sectionTitle{border-bottom:2px solid #0c77f8;background-position:0 -176px;padding-left:105px;}
.news .more a{border:1px solid #0c77f8;color:#0c77f8;margin-left:10px;}
.newsSection{background:#fff;border:1px solid #cedaf4;}
.news_l_wrapper{width:565px;height:325px;padding-top:15px;overflow:hidden;background:url("../images/newsbg.jpg") right repeat-y #fff;float:left;position:relative;}
.news_l{width:2000px;position:absolute;;}
.newsContent{width:565px;height:340px;float:left;}
.newsContent .newsImg{width:300px;height:314px;overflow:hidden;float:left;margin-left:10px;}
.newsContent img{width:300px;height:314px;}
.newsContent img:hover{-webkit-transform:scale(1.1);transform:scale(1.1);transition:all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-in-out;}
.newsContent_r{display:block;width:215px;height:295px;overflow:hidden;float:left;margin-left:15px;}
.newsContentTitle{font-size:16px;color:#0c77f8;display:block;font-weight:bold;line-height:30px;}
.newsContentTxt{font-size:14px;color:#999;line-height:26px;padding-top:10px;}
.newsMore{color:#0c77f8;font-size:14px;padding-left:5px;}
.newsContent_r:hover{text-decoration:none;}
.newsContent_r:hover .newsContentTitle{text-decoration:underline;}
.newsContent_r:hover .newsContentTxt{color:#666;}
.newsContent_r:hover .newsMore{text-decoration:underline;}
.newsNumber{margin-left:100px;margin-top:10px;position:absolute;bottom:10px;left:330px;}
.newsNumber a{display:block;float:left;width:8px;height:8px;border-radius:50%;background:#a0a0a0;margin-right:10px;}
.newsNumber a.active{background:#0c77f8;box-shadow:0 0 0 2px rgba(255,255,255,0.8);}

.news_r{height:325px;float:left;background:#fff;padding-top:15px;margin-left:20px;}
.news_r_title{height:35px;line-height:35px;}
.news_r_title a{display:block;height:35px;line-height:35px;float:left;width:150px;font-family:"微软雅黑";font-size:18px;color:#fff;margin-right:1px;background:#0c77f8;text-align:center;}
.news_r_title a:hover{text-decoration:none;}
.news_r_title a.active:after{display:block;content:"";width:0;height:0;border-top:5px solid #0c77f8;border-right:5px solid #fff;border-left:5px solid #fff;position:relative;left:50%;margin-left:-2.5px;}
.news_r_title a:hover:after{display:block;content:"";width:0;height:0;border-top:5px solid #0c77f8;border-right:5px solid #fff;border-left:5px solid #fff;position:relative;left:50%;margin-left:-2.5px;}
.news_r .newsList{font-size:14px;color:#999;margin-top:5px;width:300px;height: 266px;overflow: hidden;float:left;}
.news_r .newsList li{float:left;margin-left:10px;width:320px;height:26px;line-height:26px;margin-top:12px;}
.news_r .newsList li span{display:inline-block;background:#91bdf7;color:#fff;padding-left:5px;}
.news_r .newsList li span:after{display:inline-block;content:"";width:0;height:0;border-top:4px solid transparent;border-bottom:4px solid transparent;border-left:4px solid #91bdf7;position:relative;left:4px;}
.news_r .newsList li a{display:inline-block;width:235px;margin-left:10px;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;vertical-align:middle;}
.news_r .newsList li a:hover{color:#0066ff;}
/*城市俱乐部*/
.clubs .sectionTitle{border-bottom:2px solid #9b6aea;background-position:0 -238px;padding-left:175px;}
.clubs .more a{border:1px solid #9b6aea;color:#9b6aea;margin-left:10px;}
.clubItemWrapper{width:1212px;padding:30px 0;overflow:hidden;position:relative;height:202px;}
.clubItems{width:4000px;position:absolute;}
.clubItem:nth-child(2){-webkit-animation-delay:0.1s;animation-delay:0.1s;}
.clubItem:nth-child(3){-webkit-animation-delay:0.2s;animation-delay:0.2s;}
.clubItem:nth-child(4){-webkit-animation-delay:0.3s;animation-delay:0.3s;}
.clubItem:nth-child(5){-webkit-animation-delay:0.4s;animation-delay:0.4s;}
.clubItem:nth-child(6){-webkit-animation-delay:0.5s;animation-delay:0.5s;}
.clubItem {
  width: 202px;
  height: 202px;
  display: inline-block;
  position: relative;
  -webkit-perspective: 650px;
  -moz-perspective: 650px;
  -ms-perspective: 650px;
  -o-perspective: 650px;
  perspective: 650px;
  float:left;
}
.clubItem:hover .back {
  z-index: 9;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.clubItem:hover .front {
  z-index: 8;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.clubItem .face {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.clubItem .back {
  width:202px;
  height:202px;
  z-index: 8;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.clubItem .back img{width:184px;height:184px;border:1px solid #e2d7f2;margin:8px;}
.clubItem .back .back_top{position:absolute;top:1px;left:1px;display:block;width:25px;height:25px;border-left:3px solid #9b6aea;border-top:3px solid #9b6aea;display:none\9;}
.clubItem .back .back_bottom{position:absolute;bottom:1px;right:1px;display:block;width:25px;height:25px;border-right:3px solid #9b6aea;border-bottom:3px solid #9b6aea;display:none\9;}

.clubItem .front {
  width:186px;
  height:186px;
  padding:8px;
  background:#f0f8fb;
  z-index: 9;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.clubItem .front img{width:184px;height:184px;border:1px solid #e2d7f2;}
.clubItem .front .caption{position:absolute;bottom:9px;left:9px;background:#333;background:rgba(0,0,0,0.5);width:184px;height:60px;color:#fff;}
.clubItem .front .caption h3{font-size:16px;font-family:"微软雅黑";padding-left:10px;padding-top:8px;display:inline-block;width:170px;height:20px;overflow:hidden;}
.clubItem .front .caption p{font-size:14px;font-family:"微软雅黑";padding-left:10px;padding-top:3px;}


/* -------------------------------- 

popup 

-------------------------------- */
a.cd-popup-trigger {
  display: block;
  width: 170px;
  height: 50px;
  line-height: 50px;
  margin: 3em auto;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50em;
  background: #35a785;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
}

.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
 /* -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;*/
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
 /* -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;*/
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
 /* -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;*/
}
.cd-popup-container p {
  padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
  list-style: none;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
